<html>
<head>
	<link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">

<title>Change Password</title>
<script src={{ url_for('static', filename='js/changePassword.js') }}></script>
</head>
<body>
<div class="bg-gray-500 flex justify-center items-center text-2xl text-white font-bold">
	<h1>Change password</h1>
<p>{{ msg }}</p>
<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
	<p class="m-6">Old Password: <input class="bg-white text-black rounded-xl" type="password" name="oldpassword"></p>
	<p class="m-6">New Password: <input class="bg-white text-black rounded-xl" type="password" name="newpassword" id="newpassword"></p>
	<p class="m-6">Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>
	<input class="bg-green-400 rounded-full px-9 py-2" type="submit" value="Save">
</form>
<a href="{{ url_for('profileHome') }}">Go to Profile</a>
</div>
</body>
</html>


